.product__details__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 2vw 0 3vw;
  height: 100%;

  @media (max-width: 767px) {
    overflow: scroll;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .product__details__title {
    margin-top: 2rem;
  }

  .product__details__description {
    margin-top: 2rem;
    @media (max-width: 767px) {
      font-size: 0.8rem;
    }
  }
  .product__details__summary {
    border-bottom: 1px solid #3b3b3b;
    border-top: 1px solid #3b3b3b;
    margin-top: 2rem;

    .product__details__summary__title {
      display: flex;
      margin-top: 1rem;
      margin-bottom: 1rem;

      img {
        margin-right: 0.5rem;
      }

      span {
        font-size: 1rem;
        font-weight: 600;

        @media (max-width: 767px) {
          font-size: 0.8rem;
        }
      }
    }
    .product__details__summary__item {
      margin-top: 0.5rem;
      font-size: 1rem;
      width: 100%;
      display: flex;

      @media (max-width: 767px) {
        font-size: 0.8rem;
      }

      &:first-child {
        margin-top: 1rem;
      }
      &:last-child {
        margin-bottom: 1rem;
      }

      .product__details__summary__item__label {
        text-transform: uppercase;
        color: #696969 !important;
        font-weight: 600;
      }

      .product__details__summary__item__value {
        display: flex;
        margin-left: auto;
      }
    }
  }

  .product__details__variants {
    border-bottom: 1px solid #3b3b3b;

    .product__details__variants__title {
      display: flex;
      margin-top: 1rem;
      margin-bottom: 1rem;

      img {
        margin-right: 0.5rem;
      }

      span {
        font-size: 1rem;
        font-weight: 600;
        @media (max-width: 767px) {
          font-size: 0.8rem;
        }
      }
    }

    .product__details__variants__item {
      margin-top: 0.5rem;
      font-size: 1rem;
      width: 100%;
      display: flex;

      @media (max-width: 767px) {
        font-size: 0.8rem;
      }

      &:first-child {
        margin-top: 1rem;
      }
      &:last-child {
        margin-bottom: 1rem;
      }

      &.header {
        color: #696969 !important;
        text-transform: uppercase;
        font-weight: 600;
      }

      .product__details__variants__item__first-column {
        max-width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .product__details__variants__item__second-column {
        max-width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: auto;
      }
    }
  }
}
