.sidebar__wrapper {
  height: 100%;
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #3b3b3b;

  @media (max-width: 767px) {
    flex-direction: row;
    width: 100%;
    height: 3rem;
    border-right: 0px;
    border-bottom: 1px solid #3b3b3b;
  }

  .sidebar__logo {
    width: 1.3rem;
    margin-top: 1rem;
    cursor: pointer;
    @media (max-width: 767px) {
      margin-top: 0;
      margin-left: 1rem;
    }
  }

  .sidebar__menus {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 100%;

    @media (max-width: 767px) {
      margin-top: 0;
      width: 40%;
      flex-direction: row;
      margin-left: 3rem;
      height: 100%;
    }

    .sidebar__menu__wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: 2.5rem;

      @media (max-width: 767px) {
        width: 3rem;
      }

      &.active {
        border-left: 2px solid #ffffff;

        img {
          svg {
            fill: #ffffff;
          }
        }

        @media (max-width: 767px) {
          border-left: 0px;
          border-top: 2px solid #ffffff;
        }
      }

      .sidebar__menu {
        width: 1.2rem;
        margin-right: 2px;
      }
    }
  }
  .sidebar__user {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 2.5rem;
    margin-top: auto;
    margin-bottom: 1rem;

    @media (max-width: 767px) {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: 2rem;
      width: 1.7rem;
    }

    .sidebar__user__circle {
      width: 1.7rem;
      border-radius: 50%;
    }
  }
}

::ng-deep .mat-menu-panel {
  background-color: #131313;
  min-height: 2.5rem !important;
  .mat-menu-content {
    padding: 0 !important;
    height: 100%;

    .user__menu__logout {
      height: 100%;
      width: 100%;
      background-color: #131313;
      color: white;
      outline: none;
      border: none;

      &:hover {
        background-color: #3d4144 !important;
      }
    }
  }
}
